.form-control{
    margin: 20px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 25px;
    border-radius: 8px;

}
.title {
    font-size: 28px;
    font-weight: 800;

}
.input-field{
    position: relative;
    width: 100%;

}
.input{
    margin-top: 15px;
    width: 100px;
    outline: none;
    border-radius: 8px;
    height: 45px;
    border: 1.5px solid white;
    background: transparent;
    padding: 10px;

}
.input.focus{
    border: 1.5px solid white;

}
.input-field.label{
    position: absolute;
    top: 25px;
    left: 25px;
    color: white;
    transition: all 0.3s ease;
    pointer-events: none;
    z-index: 2;
    
}